/* 1. Nav Elements */
.navImg {
    width: 150px;
    height: 50px;
    max-width: 100%;
}

.equalSpacedRow {
    display:flex;
    flex-direction: row;

}

.navMarginTop-S {
    margin-top: 15px;
}

/*2. Main Page */
.title {
    color: orange;
    margin-right: auto;
    margin-left: auto;
}

div.centeredText {
    text-align: center;
}



